
:root{
  // --main-color: #E0E1E4;
  --main-color:#4e5865;
  --icon-color: white;
  --icon-second-color:#FDBD68;
  --background-color:#EAEDED;
}

// font-family: 'ABeeZee', sans-serif;
// font-family: 'RocknRoll One', sans-serif;

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color:var(--icon-color);
}

.navbar{
  background-color: var(--main-color)!important;
  height: 100px;
}

.nav-link{
  font-size: 25px;
  color:var(--icon-color)!important;
}

.nav-link:hover{
   color: var(--icon-second-color) !important;
}

.sezioni-nav{
  color: var(--icon-color)!important;
}

.sezioni-nav:hover{
  color: var(--icon-second-color)!important;
}

.button-nav{
  background-color:var(--icon-second-color) ;
}

.navbar-toggler{

  background-color:var(--icon-second-color);
}

.navbar-collapse{
  background-color:var(--main-color)!important;
}

.search-nav{
  width: 150px;
  height: 30px;
}


@media (max-width: 1060px) {
  .general-search{
    display: none;
   
}

}




  // footer

  /* default list style css */
ul{
  margin: 0px;
  padding: 0px;
  }

ul li{
list-style: none;
  }

/* main footer css */
#primary-footer{
background-color: var(--main-color);
}

.footer-widget-area{
  padding: 50px 0;
}

/* main footer inner css */

.footer-widget-area p{
  font-size: 20px;
}

.footer-widget-area li{
  margin-top: 10px;
}

.footer-widget-area li a{
  font-size: 20px;
  color: var(--icon-second-color);
}

.footer-widget-area li a:hover{
 text-decoration: none;
 color: #00d07e;
}

.footer-widget-heading h4{
  font-weight: bold;
  font-size: 25px;
}

.linkediting .fa{
    color: white;
  }


.footer-social-icon .social-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fotTitile{
color: white;
}


.fotInfo{
  color:var(--icon-second-color);

}
.circle-icon {
  background: white;
  color: var(--icon-second-color);
  padding:12px;
  border-radius: 50%;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

/* footer credit css */

// .copyright-area{
// background-color: var(--icon-second-color);
// padding: 20px 0;
//   }

  // .copyright-text p{
  //   font-size: 18px;
  // }

  // .copyright-text a{
  //   color: #21bf73;
  //   font-weight: 600;
  // }

//   .footer-menus li{
//     display: inline-flex;
//     margin-left: 20px;
//   }

//   .footer-menus li a {
//   font-size: 18px;
//   color: var(--white);
// }


/*media quries*/

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
     .footer-social-icon span{
     font-size: 14px;
   }
}

@media (max-width: 767.98px) {
      .copyright-text p{
    text-align:center;
     }

     .footer-menus ul{
     text-align:center;
    }

    .footer-social-icon span{
     font-size: 18px;
   }
}

@media (max-width: 575.98px) {
  
  .footer-widget-area{
  padding: 0 20px;
  }

  .copyright-text p{
    text-align:center;
    font-size:16px;
     }

     .footer-menus ul{
     text-align:center;
    }

    .footer-menus ul li a{
     font-size:16px;
    }  
}
  



// new card


.card-prod {
  position: relative;
  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background: var(--icon-color);
  
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  backface-visibility: hidden;
}
.card-prod:hover {
  transform: scale(0.9);
}


.card-prod:hover .con-text button {
  margin-bottom: 0;
  opacity: 1;
  transition: all 0.5s ease;
}
.card-prod img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.5s ease;
}
.card-prod .con-text {
  position: absolute;
  z-index: 30;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}
.card-prod .con-text button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -150px;
  transition: all 0.5s ease;
}
.card-prod .con-text  button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: var(--icon-color);
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: poppins;
  font-size: 0.75rem;
  outline: none;
}
.card-prod .con-text  button:hover {
  background:var(--icon-second-color);
  color: white;
}

.link-card{
  text-decoration: none !important;
}


@media screen and (max-width: 1200px) {
  .card-prod {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .card-prod {
    width: 180px;
    height: 180px;
    
  }
}






