
:root{
  // --main-color: #E0E1E4;
  --main-color:#4e5865;
  --icon-color: white;
  --icon-second-color:#FDBD68;
  --background-color:#EAEDED;
}

// font-family: 'ABeeZee', sans-serif;
// font-family: 'RocknRoll One', sans-serif;

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color:var(--icon-color);
}

.navbar{
  background-color: var(--main-color)!important;
  height: 100px;
}

.pippo{
  box-shadow: 5px 5px 5px var(--main-color)!important;
}

.nav-link{
  font-size: 25px;
  color:var(--icon-color)!important;
}

.nav-link:hover{
   color: var(--icon-second-color) !important;
}

.sezioni-nav{
  color: var(--icon-color)!important;
}

.sezioni-nav:hover{
  color: var(--icon-second-color)!important;
}

.button-nav{
  background-color:var(--icon-second-color) ;
}

.navbar-toggler{

  background-color:var(--icon-second-color);
}

.navbar-collapse{
  background-color:var(--main-color)!important;
}

.search-nav{
  width: 150px;
  height: 30px;
}


@media (max-width: 1060px) {
  .general-search{
    display: none;
   
}

}




  // footer

  /* default list style css */
ul{
  margin: 0px;
  padding: 0px;
  }

ul li{
list-style: none;
  }

/* main footer css */
#primary-footer{
background-color: var(--main-color);
}

.footer-widget-area{
  padding: 50px 0;
}

/* main footer inner css */

.footer-widget-area p{
  font-size: 20px;
}

.footer-widget-area li{
  margin-top: 10px;
}

.footer-widget-area li a{
  font-size: 20px;
  color: white;
}

.footer-widget-area li a:hover{
 text-decoration: none;
 color: var(--icon-second-color);
}

.footer-widget-heading h4{
  font-weight: bold;
  font-size: 25px;
}

.linkediting .fa{
    color: var(--icon-second-color);
  }


.footer-social-icon .social-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fotTitile{
color: var(--icon-second-color);
}


.fotInfo{
  color:white;

}
.circle-icon {
  background: white;
  color: var(--icon-second-color);
  padding:12px;
  border-radius: 50%;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}






/*media quries*/

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
     .footer-social-icon span{
     font-size: 14px;
   }
}

@media (max-width: 767.98px) {
      .copyright-text p{
    text-align:center;
     }

     .footer-menus ul{
     text-align:center;
    }

    .footer-social-icon span{
     font-size: 18px;
   }
}

@media (max-width: 575.98px) {
  
  .footer-widget-area{
  padding: 0 20px;
  }

  .copyright-text p{
    text-align:center;
    font-size:16px;
     }

     .footer-menus ul{
     text-align:center;
    }

    .footer-menus ul li a{
     font-size:16px;
    }  
}
  



// new card
.card-home{
  margin:  0 auto;
 
}

.card-prod {
  position: relative;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background: var(--icon-color);
  
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  backface-visibility: hidden;

  border-color:var(--main-color) ;
  border-style: solid;
  border-width: 2px;  
}


.card-prod:hover {
  transform: scale(0.9);
}


.card-prod:hover .con-text button {
  margin-bottom: 0;
  opacity: 1;
  transition: all 0.5s ease;
}
.card-prod img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.5s ease;
}
.card-prod .con-text {
  position: absolute;
  z-index: 30;
  text-align:center;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  padding-bottom: 70px;
  
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}

.card-prod .con-text button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -150px;
  transition: all 0.5s ease;
}
.card-prod .con-text  button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: var(--icon-color);
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: poppins;
  font-size: 0.75rem;
  outline: none;
}
.card-prod .con-text  button:hover {
  background:var(--icon-second-color);
  color: white;
}

.link-card{
  text-decoration: none !important;
}


@media screen and (max-width: 1200px) {
  .card-prod {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .card-prod {
    width: 180px;
    height: 180px; 
  }
  
}
@media screen and (max-width: 1150px) {
 
  .con-text h2{
    font-size: 20px;
  }
}

// titoli e scritte 
.main-scritte{
  font-size: 50px;
  font-weight: 700;
  color:var(--icon-second-color);
  
  
}



.title-home{
  font-size: 50px;
  font-weight: 700;
  color:var(--main-color);
  padding-top: 80px;
  padding-bottom: 50px;
 
}

@media screen and (max-width: 500px) {
 
  .title-home{
    font-size: 30px;
  }
}

.lead{
  color:var(--main-color);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
}

.lead-normale{
  color:var(--main-color);
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.back-gray{
    
  background-color: var(--background-color);

}

.containerallArticles{
  background-color: var(--background-color);
margin-top:150px;
}

// SECOND-NAV

.second-nav-main{
  margin-top: 95px;
  box-shadow: 5px 5px 5px var(--icon-second-color);
}


.second-nav{
  background-color: var(--icon-second-color);
  height: 60px; 
}

.second-nav-word a{
  color: white;
  font-size: 20px;
  text-decoration:none!important;
  
}

.second-nav-word a:hover{
  color:var(--main-color);
}

.container-sub{
  margin-top: 8%;
  background-color: var(--background-color);
}


.icona{
  color:var(--icon-second-color);
}

.hrr{
   
  border-style: solid;
  border-color: var(--background-color);
  border-width: 10px;
  padding-bottom: 0%;
  margin-top: 1px;
}

.mar-100{
  margin-top:100px;
}

// bottone search nella home

.btn-nico{
  background-color: var(--icon-second-color);
  border-color:var(--main-color) ;
  border-style: solid;
  border-width: 2px;  
 
 
 
}

.btn-nico:hover{
  background-color: var(--main-color);
  border-color:white ;
  border-style: solid;
  border-width: 2px;  
  color: var(--icon-second-color);

}

.btn-nico a{
  text-decoration: none;
  color: var(--main-color);

}

.btn-nico a:hover{
   color: white;
}




 
@media (max-width: 400px) {
  #second-navbar  {
    display: none;
   }
}


@media (max-width: 400px) {
  .lead-normale {
     font-size: 15px;
     padding:15%; 
    }
 }

 @media (max-width: 400px) {
  .containerShow{
     margin:0;
     padding: 0;
    }

    .mobile-container{
      position: relative;
      margin-top: -50px;
    }
  }

  @media (max-width: 600px) {

    .indietro a{
      display: none;
    }
  }